name: Deploy to GCS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ${{ secrets.GCP_PROJECT }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}

      - name: Deploy to GCS
        run: |
          gsutil -m rsync -r -x "\.git/.*" ./ gs://$GCS_BUCKET
          gsutil web set -m index.html -e 404.html gs://$GCS_BUCKET
        env:
          GCS_BUCKET: ${{ secrets.GCS_BUCKET }}
